<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <link rel="stylesheet" href="./diceroll-style.css" />
    <title>Pig Game</title>
  </head>
  <body>
    <main>

      <section class="player player--1 player--active">
        <h2 class="name" id="name--1">Player 1</h2>
        <p class="score" id="score--1">
          <%= @p1.score %>
        </p>
        <div class="current">
          <p class="current-label">Current</p>
          <p class="current-score" id="current--1">
            <%= @p1.score %>
          </p>
        </div>
      </section>

      <section class="player player--2">
        <h2 class="name" id="name--2">Player 2</h2>
        <p class="score" id="score--2">
          <%= @p2.score %>
        </p>
        <div class="current">
          <p class="current-label">Current</p>
          <p class="current-score" id="current--2">
            <%= @p2.score %>
          </p>
        </div>
      </section>

      <button onclick="window.location.href='/new';"
              id="new"
              class="btn btn--new">
        🔄 New game
      </button>

      <img id="dice-img" src="dice-<%= @dice %>.png" alt="Playing dice" class="dice" />

      <button hx-post="/roll"
              hx-target="#dice-img"
              hx-swap="outerHTML"
              class="btn btn--roll">
        🎲 Roll dice
      </button>

      <button hx-post="/hold"
              class="btn btn--hold">
        📥 Hold <%= @game.active_player.id.to_s %>
      </button>

    </main>
  </body>
</html>
